@import "assets/styles/Theme.scss";

.login-box {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  width: 30%;
  margin: 5% auto;
}

.login-main {
  display: flex;
  box-shadow: 0px 0px 14px $colorBackground;
  border-radius: 10px;
}

.login-image-box {
  margin-right: -2px;
  opacity: 0.5;
  background-image: $login-bg;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

.login-box-body {
  background: $colorWhite;
  border-top: 0px;
  color: $colorGray;
  border-top-color: $colorBlue;
  position: relative;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 50px 80px !important;
  margin-bottom: 0px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.login-box-title {
  text-align: center;
  color: $colorGreen1;
  font-family: Averir;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
}

.login-box-msg {
  margin: 0px;
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.has-feedback {
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

.pad-bottom {
  padding-bottom: 20px;
}

.forgot {
  text-align: center;
}

.btn-login {
  transition: 0.3s;
  background: $colorGreen1 !important;
  font-family: Averir;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  padding: 11px 12px;
  border: 1px solid transparent !important;
}

.btn-login:hover {
  border: 1px solid transparent !important;
}

.forgot-pass {
  color: $colorBlack;
}

.login-input {
  background-color: $colorBackground;
  border: 0px solid;
  padding: 0px 20px 0px 50px !important;
}

.login-icon-custom {
  left: 15px;
  top: 3px;
  width: 17px;
  opacity: 0.5;
}

.form-control-feedback {
  position: absolute;
  right: 0px;
  z-index: 2;
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.title-center {
  text-align: center;
}
