@import "assets/styles/Theme.scss";

.bar-responsive {
  position: fixed;
  z-index: 14;
  width: 100%;
  cursor: pointer;
  height: 50px;
  background-color: $colorGreen1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  .color-icon {
    color: $colorTextHeader !important;
    font-size: 18px !important;
  }
  .dropdown-position {
    position: fixed;
    right: 0px;
  }
  i.fa {
    font-size: 25px;
    text-align: center;
    padding: 15px;
  }
  .dropdown-logout {
    position: relative;
    padding: 0px !important;
    .dropdown-background {
      color: $colorTextHeader !important;
      background-color: $colorHeader !important;
      border: 1px solid transparent !important;
    }
    .dropdown-background:focus {
      background-color: $colorHeader !important;
      box-shadow: 0px 0px 0px 0.2rem $colorHeader !important;
      border: 1px solid transparent !important;
    }
    .drop-menu {
      left: 20px !important;
      background-color: $colorSideMenu;
    }
    .drop-item-custom:hover {
      background-color: $colorGreen1;
    }
  }
  .logo {
    background-image: $logo-bg;
    background-position: center 0px;
    background-repeat: no-repeat;
    padding-top: 10px;
    min-height: 100%;
    z-index: 810;
    background-size: contain;
    font-family: Segoe UI;
    transition: 0.2s ease all;
    width: auto;
  }
  .header-width {
    width: 230px;
  }
  .main-header {
    position: relative;
    background-color: $colorBackground;
    height: auto;
    z-index: 6;
    i {
      color: white;
    }
  }
}
