// $colorGreen1: #7bbb49;
// $colorGreen1: #20a8d8;
// $colorGreen1: #4dbd74;
$colorGreen1: #3c8dbc;
$colorGreen2: #4bd865;
$colorBlack: #2a2e43;
$colorWhite: #fff;
$colorGray: #495057;
$colorBlue: #3c8dbc;
$colorRed: #f44336;
$colorOrgan: #fba442;
$colorMilk: #d8d9db;
$menu-bg: url("");
$logo-bg: url("");
$login-bg: url("");

$colorGreenOpacity: transparentize($colorGreen1, 0.6);
$colorHeader : $colorGreen1;
$colorTextHeader : $colorWhite;
$colorSideMenu : #f9fafc;
// $colorBackground: #f0f5f8;
$colorBackground:transparentize($colorGreen1, 0.9);

.layoutContent {
    min-height: 97vh;
    margin: 0px 15px 15px 15px;
    padding-top: 8vh;
    .breadcrum-styles a{
        color: $colorGreen1;
    }
    .breadcrum-styles ol{
        background-color: transparent;
        margin-bottom: 0px;
        padding-left:  0px;
    }
    .text-align-right{
        text-align: right !important
    }
    .text-align-left{
        text-align: left !important
    }
    .text-align-center{
        text-align: center !important
    }
    .title-content{
        padding-top: 10px;
        padding-bottom: 15px;
        img {
            width: 25px;
            height: 25px;
            margin-bottom: 10px
        }
        i {
            font-size: 30px;
            color: $colorGreen1;
        }
        span {
            margin-left: 10px;
            font-size: 25px;
            font-weight: 400;
            color: $colorGreen1;
            position: relative;
        }
    }
}

.wrapperContentTheme {
    @extend .layoutContent;
    .icon-search {
        max-width: 10px;
        cursor: pointer;
        font-size: 16px;
        color: $colorGreen1;
        margin: 5px;
    }
    .container-fluid {
        background: $colorWhite;
        padding: 50px 15px 15px 15px;
    }
    input,
    select {
        height: 30px;
        font-size: 12px;
    }
    .a-right {
        text-align: right;
        margin-right: 15px;
    }
    .btn-success {
        margin: 10px 0px 0px 0px;
        background: $colorGreen1 !important;
        color: $colorWhite;
        font-weight: 700;
        padding: 5px 10px 5px 10px;
        font-size: 16px;
        min-width: 100px;
        border: 1px solid transparent;
    }
    .btn-success:hover{
        border: 1px solid transparent !important;
    }
}

.wrapperAddTheme {
    @extend .layoutContent;
    .container-fluid {
        padding: 30px;
        background: $colorWhite;
    }

    label {
        font-weight: 700;
        color: $colorBlack;
        padding: 0px;
        font-size: 12px;
    }
    input {
        // height: 35px;
        font-size: 14px;
    }
    select {
        height: 35px;
        font-size: 14px;
    }
    .btn-success {
        margin: 10px 0px;
        background: $colorGreen1 !important;
        color: $colorWhite;
        font-weight: 700;
        padding: 5px;
        font-size: 16px;
        min-width: 100px;
        border: 1px solid transparent;
    }
    .btn-success:hover{
        border: 1px solid transparent !important;
    }
    .position-button{
        margin-right: 0px;
        text-align: right
    }
}

